$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=PT+Serif|Source+Sans+Pro:400,700');

$midnight-blue: #183d5c;
$grass-green: #00ba4d;
$black: #292929;
$light-grey: #ccc;

$lg-breakpoint: 1200px;
$md-breakpoint: 992px;
$sm-breakpoint: 768px;
$xs-breakpoint: 480px;

html, body {
  color: $black;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  @media (max-width: $sm-breakpoint) {
    font-size: 15px;
    line-height: 21px;
  }
  @media (max-width: $xs-breakpoint) {
    font-size: 14px;
    line-height: 20px;
  }
}

h1, h2, h3 {
  font-family: "PT Serif", Georgia, serif;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}
p, li {
  font-size: 1rem;
  line-height: 1.5rem;
}
img {
  max-width: 100%;
}
.btn {
  font-size: 1.1rem;
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 0;
  &-container {
    margin-top: 1.5rem;
  }
  &-primary {
    background: $grass-green;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
      background: lighten($grass-green, 3%);
      color: #fff;
    }
  }
}

.container-fluid {
  @media (min-width: $md-breakpoint) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
  // min-height: 110px;
  &-default {
    background: $midnight-blue;
    color: #fff;
    .navbar {
      &-brand {
        padding: 1.5em 15px;
        height: auto;
        > img {
          width: 300px;
          @media (max-width: $md-breakpoint) {
            width: 230px;
          }
          @media (max-width: $sm-breakpoint) {
            width: 200px;
          }
        }
      }
      &-toggle {
        @media (max-width: $sm-breakpoint) {
          margin-top: 2.5rem;
        }
        @media (max-width: $xs-breakpoint) {
          margin-top: 2.25rem;
        }
      }
      &-nav {
        li {
          margin-top: 2.5rem;
          @media (max-width: $md-breakpoint) {
            margin-top: 1.8rem;
          }
          @media (max-width: $sm-breakpoint) {
            margin-top: 0;
          }
          > a {
            color: #fff;
            &:hover, &:active, &:focus {
              color: #fff;
            }
          }
        }
        > .open {
          > a {
            background: none;
            color: #fff;
            &:hover, &:active, &:focus {
              background: none;
              color: #fff;
            }
          }
          .dropdown-menu {
            > li {
              margin-top: 0;
              > a {
                color: $black;
                @media (max-width: $sm-breakpoint) {
                  color: $light-grey;
                  &:hover, &:active, &:focus {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#hero {
  background: url('../images/hero.jpg') top center;
  background-size: cover;
  padding: 6rem 0 10rem;
  @media (max-width: $md-breakpoint) {
    padding: 3rem 0 6rem;
  }
  @media (max-width: $sm-breakpoint) {
    background: #fff;
    padding: 0;
  }
  .overlay {
    background: $midnight-blue;
    background: transparentize($midnight-blue, 0.2);
    color: #fff;
    padding: 0.75rem 2.25rem 1.5rem;
    @media (max-width: $sm-breakpoint) {
      background: #fff;
      color: $black;
      padding: 0.25rem 0 1.5rem;
    }
  }
}
